    <div class="flex-grow bg-rose-50">
        <header>
            <nav class="bg-white outline outline-offset-2 outline-rose-700">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <img src="/img/logo20.png" class="h-24" alt="Logo Toda Bella" />
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <div class="flex justify-center py-24">
                <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <form class="max-w-sm mx-auto" id="subscribe" action="/login" method="post">
                        <h5 class="mb-2 text-4xl font-bold tracking-tight text-rose-700 text-center">Login</h5>
                        <br>
                        <h1 class="mb-2 text-base tracking-tight text-gray-400 text-center">Por favor, efetue o login utilizando as credenciais corretas.</h1>
                        <div class="mb-5">
                            <label for="e-mail" class="block mb-2 text-base font-medium">Seu nome de usuário</label>
                            <fieldset>
                                <input type="text" name="nomeUsuario" id="nomeUsuario"  class="bg-gray-100 border-2 border-rose-700 text-gray-700 placeholder-rose-700 text-base focus:ring-rose-800 focus:border-rose-800 block w-full p-2.5" placeholder="Digite seu nome"  required="">
                            </fieldset>    
                        </div>
                        <div>
                            <label for="senha" class="block mb-2 text-base font-medium">Sua senha</label>
                            <fieldset>
                                <input type="password" name="senha" id="senha" class="bg-gray-100 border-2 border-rose-700 text-gray-700 placeholder-rose-700 text-base focus:ring-rose-800 focus:border-rose-800 block w-full p-2.5" placeholder="Digite sua senha" required="">
                            </fieldset>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="form-submit" class="inline-flex items-center px-10 py-2 text-base font-medium text-center text-white bg-rose-700 rounded-sm hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 mt-8">
                                Entrar
                            </button>
                        </div> 
                    </form>                                                    
                </a>
            </div>    
        </main>
    </div>    
    <footer class="bg-rose-700 shadow">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
            <span class="block text-base text-white text-center">Copyright © 2024 | Todos os direitos reservados - Toda Bella</span>
        </div>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>  
    <script src="./../assets/js/menu.js"></script>     
